<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'chat/style.css' %}">
        <script src="{% static 'chat/index-script.js' %}"></script>
    </head>
    <body>
        <h1>{% block head %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}

    </body>
</html>