{% extends 'base.html' %}
{% block title %}
    CryptComm
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="top-main">
            <div class="row">
                <div class="col-xs-12 col-md-12" style="text-align:center">

                    <h1>Welcome,{{ user.username }}!</h1>
                    <br>You look good today!

                </div>
                <div class="col-xs-12 col-md-12" style="text-align:center; margin-top:5%; font-size:15px">
                    <span class="glyphicon glyphicon-console"></span> <a href="/logout">LOGOUT</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}